@font-face {
  font-family: Organo;
  src: url("../../../assets/Organo.ttf");
}
.titulo{
  font-family: Organo;
}

.card{
  display: flex;
  margin: 10px ;
  border-radius: 20px;
}
.card:hover{
  border: 3px  solid black;
  margin-top: 7px;
  margin-bottom: 7px;
}
.card-img-top{
  height: 20vh;
  image-rendering: high-quality;
}
.card-img-modal{
  width: 100%;
  z-index: -1;
  image-rendering: high-quality;
}
.card-header{
  height: 35px;
}
.card-title{
  height: 55px;
  overflow: scroll;
}
.juegitoscargando{
  width: 80vw;
  display: block;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.card-body{
  overflow: scroll;
}
.spinner-grow{
  margin-top: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.juegitoscargandomodal{
  overflow: visible;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.centrado{
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.btn-centrado{
  width: 100%;
  margin-top: auto;
  margin-bottom: 5px;
  display: block;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .card{
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 575px) {
  .card{
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media  (min-width: 1200px) {
  .card{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
