<ng-container *ngIf="loading; else dataContent">
  <div class="juegitoscargando">
    <div class="spinner-grow text-primary" role="status">
    </div>
    <span>Cargando catalogos de juegos...</span>
  </div>
</ng-container>
    <ng-template #dataContent>

      <div class="container">
        <div class="row" >
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let j of juegos">
              <div class="card">
                <div class="card-header">
                  <span class="material-symbols-outlined" style="font-size: 16px; display: inline-block;color:orange">
                    star_rate
                  </span>
                  <p style="display: inline-block">{{j.rating}}</p>
                </div>
                <img class="card-img-top" src="{{j.background_image}}" >
                <div class="card-body">
                  <h5 class="card-title centrado">{{j.name}}</h5>
                  <p class="card-text centrado">Comentarios: {{j.reviews_text_count}}</p>
                </div>
                <div class="card-footer">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-centrado" data-bs-toggle="modal" data-bs-target="#modal" (click)="SetGameValue(j)">
                    Ver reseña
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!--Paginación -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link" (click)="PrevPage()" href="#" >Anterior</button>
          </li>
          <li class="page-item"><a class="page-link" href="#">{{numpage}}</a></li>
          <li class="page-item">
            <button class="page-link" (click)="NexPage()" href="#">Siguiente</button>
          </li>
        </ul>
      </nav>
    </ng-template>
  <div class="modal"  id="modal" data-bs-keyboard="false" tabindex="-1" >
    <ng-container *ngIf="detalles else modalLoading">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <img src="{{seleccionado.background_image}}" class="card-img-modal">
            <h1 class="modal-title fs-5" >{{seleccionado.name}}</h1>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{detalles.description_raw}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
<ng-template #modalLoading>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{{seleccionado.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="juegitoscargandomodal">
            <div class="spinner-grow text-primary" role="status">
            </div>
            <span>Cargando detalles de {{seleccionado.name}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</ng-template>


