<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="headerdiv" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <app-header></app-header>
</div>

<div class="contentdiv">
  <app-navbarleft class="nav-left"> </app-navbarleft>
  <div class="game">
    <app-gamecard ></app-gamecard>
  </div>
</div>
<footer class="footerdiv">
  <app-footer></app-footer>
</footer>
<div class="offcanvas offcanvas-start off-nav" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <app-navbarleft></app-navbarleft>
</div>
