@font-face {
  font-family: Organo;
  src: url("../assets/Organo.ttf");
}

 .headerdiv {
  position: fixed;
  display: flow;
  width: 100vw;
  margin-top: 0px;
  min-height: 11vh;
  max-height: 11vh;
}

.contentdiv {
  background-color: #b1b4b5;
  margin-top: 10vh;
  position: absolute;
  overflow: scroll;
  min-height: 82vh;
  max-height: 82vh;
}
.col-desaparece{
  min-height: 82vh;
}
.footerdiv {
  visibility: visible;
  position: fixed;
  display: flow;
  overflow: hidden;
  margin-top: 92vh;
  padding-bottom: 0px;
  height: auto;
  width: 100%;
  background-color: darkblue;
}

.nav-left{
  position: fixed;
  visibility: visible;
  width: 15vw;

}
.game{
  position: relative;
  width: 85vw;
  margin-left: 15vw;
}
.offcanvas{
  visibility: collapse;
}
.offcanvas-backdrop{
  background-color: transparent;
  width: 20vw;
}

@media (max-width: 992px) {
  .game{
    width: 100vw;
    margin-left: 0px;
  }
  .nav-left{
    visibility: collapse;
  }
  .footerdiv{
    visibility: collapse;
  }
  .offcanvas{
    visibility: visible;
  }
  .off-nav{
    margin-top: 10vh;
    width: 30vw;
  }
  .contentdiv{
    min-height: 92vh;
    max-height: 92vh;
  }
}

@media (max-width: 576px) {
  .col-desaparece{
    visibility: hidden;
  }
}

